body {
  margin: 0;
  background: #fff0f5;
  overflow-x: hidden;
  font-family: cursive;
}
.letter {
  z-index: 10;
  position: relative;
  color: #800040;
  background: rgba(255, 255, 255, 0.9);
   padding: 30px;
  margin: 100px auto 200px;
  max-width: 600px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
}

.flower-field {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  pointer-events: none;
  z-index: 1;
}

.flower {
  position: absolute;
  width: 60px;
  height: 60px;
  pointer-events: none;
  opacity: 0;
  transform: scale(0.5);
  transition: transform is cubic-bezier(0.25, 1.25, 0.5 , 1), opacity is ease;
}

.flower.bloomed {
  opacity: 1;
  transform: scale(1);
}

.petal {
  position: absolute;
  width: 24px;
  height: 28px;
  top: 50%;
  left: 50%;
  background: radial-gradient(circle at 30% 30%, #ffc0cb 40%, #ff69b4 80%);
  border-radius: 60% 60% 40% 40%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  opacity: 0.9;
  transform-origin: center bottom;
  transform: translate(-50%, -100%) rotate(0deg);
}
.flower.bloomed.petal {
  animation: bloomPetal 1s ease forwards;
}

.center {
  position: absolute;
  width: 20px;
  height: 20px;
  background: radial-gradient(circle, #ffe066, #ffcc00);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}


.heart-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 1;
}

.heart {
  position: absolute;
  width: 20px;
  height: 20px;
  background: pink;
  transform: rotate(45deg);
  animation: floatUp 5s linear infinite;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: pink;
  border-radius: 50%;
}

.heart::before {
  top: -10px;
  left: 0;
}

.heart::after {
  left: -10px;
  top: 0;
}

@keyframes floatUp {
  0% {
    transform: translateY(0) rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh) rotate(45deg);
    opacity: 0;
  }
}

@keyframes sway {
  0% { transform: scale(1) rotate(-5deg); }
  100% { transform: scale(1.1) rotate(5deg); }
}

@keyframes bloomPetal {
  0% { transform: scaleY(0.3); opacity: 0; }
  60% { opacity: 0.8; }
  100% { transform: scaleY(1); opacity: 0.9; }
}